<% include partials/header %>

<!-- Wrap everything in a bootstrap container -->
<div class="container">

    <header class="jumbotron">
       <h1>Welcome to YelpCamp</h1>
       <p>View hand-picked campgrounds from all over the world</p>
       <p>
        <a href='/campgrounds/new' type="button" class="btn btn-primary btn-lg">Add New Campground</a>
       </p>
    </header>

    <!-- Start grid -->
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">

        <!-- Iterate through campground array and each name and image -->
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.title %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div> 
            </div>
        <% }); %>

    </div>

<!-- Container close -->
</div>
<% include partials/footer %>